.form-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input {
  border-radius: 5px;
  background: #e8e8e8;
  border: 0px;
  width: 235px;
}
.button-form {
  border-radius: 5px;
  background: #696969;
  color: #fff;
  text-align: center;
  /* font-family: Saira; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 0px;
  width: 235px;
}
